@use "./../../assets/scss/mixin.scss" as *;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Gilroy" !important;
  font-weight: 500;
}

body {
  font-family: "Gilroy" !important;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}

.gradient-title {
    h2 {
        font-family: "Gilroy";
        font-size: 60px;
        margin: 0;
        line-height: 55px;
        background: linear-gradient(270.03deg, #2bcb88 45.39%, #0dac91 58.38%, #26b8b5 72.39%, #007a78 88.38%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

button[type='button']{
  cursor: pointer;
}

//common container style
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  height: 100%;

  @include responsive(xl) {
    max-width: 1140px;
  }

  @include responsive(lg) {
    max-width: 960px;
  }

  @include responsive(md) {
    max-width: 720px;
  }

  @include responsive(sm) {
    max-width: 540px;
  }

  @include responsive(xs) {
    max-width: 100%;
  }
}

.container-fluid {
  width: 100%;
  padding: 0 12px;
}