@mixin responsive($breakpoint) {
    @if $breakpoint ==xs {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $breakpoint ==sm {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (max-width: 991px) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (max-width: 1400px) {
            @content;
        }
    }

    @else if $breakpoint ==xxl {
        @media (max-width: 1600px) {
            @content;
        }
    }
}

@mixin button($size, $color, $bg, $padding, $radius, $bordercolor, $fw) {
    font-size: $size;
    color: $color;
    background: $bg;
    padding: $padding;
    border-radius: $radius;
    border-color: $bordercolor;
    font-weight: $fw;
    border: 1px solid;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    outline: none;
    transition: all .3s;
    cursor: pointer;
}