:root {
   --primary: #FA5304;
   --secondary: #FDC55E;
   --header-bg: #151517;
   --text: #1B1B1B;
   --text-highlight: #E8214C;
   --mindbrown: #4F3422;
   --btn-grey: #A8A8A8;
   --border: #A8A8A8;
   --text-dark: #4D7399;
   
}
[data-theme=light] {
    --bg-ins-card-img: #f4f4f4;
    --bg-ins-img: #f4f4f4;
    --bg-edit-profile: #f4f4f4;
    --bg-primary: #fff;
    --bg-primary-reverse: #030606;
    --bg-secondary: #f4f4f4f4;
    --bg-chip: #ffffff80;
    --bg-dropdown: #fff;
    --bg-filter-select: #fcfcfc;
    --bg-green: #00787a;
    --bg-green-gradient: linear-gradient(90deg,#007a78,#2da499);
    --bg-green-gradient-reverse: linear-gradient(270deg,#007a78,#2da499);
    --bg-header-footer: #fcfcfccc;
    --bg-tab-sec: #f4f4f4;
    --bg-login-sign: #f9f9f9f9;
    --bg-google-btn: linear-gradient(90deg,#007a78,#2da499);
    --bg-google-btn-reverse: linear-gradient(270deg,#007a78,#2da499);
    --bg-auth-err-msg: #303030;
    --bg-card2: #f4f4f4;
    --bg-card3: #f7f7f7;
    --bg-card2-reverse: #f4f4f4;
    --bg-card-no-opacity: #fcfcfc;
    --bg-card: #fcfcfc80;
    --bg-input-check-radio: #bfbfbf;
    --bg-black-50-opacity: hsla(0,0%,99%,.5);
    --bg-home-know-card: hsla(0,0%,99%,.5);
    --bg-adminrply: #f4f4f4;
    --bg-tab-chip: #fff;
    --bg-subcard-portal: hsla(51,89%,85%,.75);
    --bg-home-slider-blur: linear-gradient(179.06deg,#fdfefe 22.52%,hsla(0,0%,100%,.1) 120.51%);
    --bg-modal: #fcfcfc;
    --bg-modal-btn-hover: #f4f4f4;
    --bg-loader: #212121;
    --bg-btn-lock: #f4f4f4;
    --bg-error-btn: linear-gradient(90deg,#007a78,#2da499);
    --bg-feedbackwidget: #000;
    --fc-primary: #282828;
    --fc-primary-reverse: #f3f3f3;
    --fc-secondary: #f3f3f3;
    --fc-green: #00787a;
    --fc-green2: #00787a;
    --fc-black2: #2d2c2c;
    --fc-error-btn: #f3f3f3;
    --fc-input-info: #737373;
    --fc-disabletext: rgba(45,44,44,.4);
    --bg-hover-primary: #f4f4f4;
    --a-clr: #007a78;
    --clr-line: #bfbfbf;
    --line-color1: #282828;
    --bg-layout: #fcfcfc;
    --bg-layout2: #fcfcfc80;
    --bg-instructor: #fcfcfc;
    --bg-optionbar: hsla(0,0%,99%,.8);
    --bg-assessmenttop: #f4f4f4;
    --bg-assesmentbottm: #f4f4f466;
    --bg-assessmentMobbtm: hsla(0,0%,93%,.6);
    --bg-assessmentScoreCard: linear-gradient(180deg,#f4f4f4 32.29%,hsla(0,0%,100%,0));
    --bg-assessmenttablebtm: hsla(0,0%,96%,.5);
    --bg-instructorProfileBg: #f4f4f4;
    --bg-reviewcard: hsla(0,0%,99%,.5);
    --bg-editprofileOuter: #f4f4f4;
    --bg-editprofileinner: #fcfcfc;
    --bg-discussionInput: #f4f4f4;
    --bg-quesionarie: #fff;
    --bord-primary: 1px solid #007a78;
    --bord-green: 1px solid #007a78;
    --bord-secondary: 0.25px solid #bfbfbf70;
    --bord-white-black: 1px solid #282828;
    --bord-left-coupon: 8px solid linear-gradient(180.01deg,#007a78 1.26%,#2da499 98.51%);
}

:root  {
    --bg-primary: #030606;
    --white-text: #fff;
    --bg-primary-reverse: #fcfcfc;
    --bg-secondary: #181818;
    --bg-chip: #161a18;
    --bg-dropdown: #161a18;
    --bg-green: #00787a;
    // --bg-green-gradient: linear-gradient(90deg,#007a78,#2da499);
    --bg-green-gradient: #d5ff2e;
    // --bg-green-gradient-reverse: linear-gradient(270deg,#007a78,#2da499);
    --bg-green-gradient-reverse: #afff2e;
    --bg-ins-card-img: #030606;
    --bg-ins-img: #18191d;
    --bg-edit-profile: #161a18;
    --bg-loader: #fff;
    --bg-filter-select: #161a18;
    --bg-header-footer: #0306068c;
    --bg-login-sign: #141416;
    --bg-google-btn: #fdfdfd;
    --bg-auth-err-msg: #303030;
    --bg-card: #18191d;
    --bg-card2: #030606;
    --bg-card2-reverse: hwb(150 4% 95%/0.85);
    --bg-card3: #18191d;
    --bg-card-no-opacity: #18191d;
    --bg-input-check-radio: #bfbfbf;
    --bg-black-50-opacity: rgba(24,25,29,.5);
    --bg-modal: #161a18;
    --bg-modal-btn-hover: #18191d;
    --bg-home-know-card: rgba(24,25,29,.5);
    --bg-home-slider-blur: linear-gradient(180deg,#010303 18.14%,rgba(1,3,3,0));
    --bg-tab-sec: #161a18;
    --bg-tab-chip: #070707;
    --bg-feedbackwidget: #fff;
    --bg-btn-lock: rgba(80,80,80,.5);
    --fc-primary: #f3f3f3;
    --fc-primary-reverse: #282828;
    --fc-secondary: #282828;
    --fc-green: #00787a;
    --fc-green2: #f3f3f3;
    --fc-black2: #bfbfbf;
    --fc-disabletext: hsla(0,0%,75%,.4);
    --fc-error-btn: #212121;
    --fc-input-info: #8c8c8c;
    --bg-hover-primary: #0e1110;
    --a-clr: #007a78;
    --clr-line: #bfbfbf;
    --line-color1: #f3f3f3;
    --bg-layout: hwb(150 4% 95%/0.85);
    --bg-layout2: #18191d;
    --bg-instructor: rgba(10,12,11,.5);
    --bg-optionbar: rgba(22,26,24,.5);
    --bg-assessmenttop: #18191d;
    --bg-assesmentbottm: rgba(24,25,29,.6);
    --bg-assessmentMobbtm: rgba(10,12,11,.85);
    --bg-assessmentScoreCard: linear-gradient(180deg,#18191d 1.45%,rgba(14,17,16,.011) 99.99%,rgba(14,17,16,.1));
    --bg-assessmenttablebtm: rgba(24,25,29,.65);
    --bg-instructorProfileBg: #090a09;
    --bg-reviewcard: #18191d80;
    --bg-adminrply: #18191d;
    --bg-editprofileinner: #070707;
    --bg-editprofileOuter: #18191d;
    --bg-discussionInput: #070707;
    --bord-primary: 1px solid #f3f3f3;
    --bord-secondary: 1px solid #282828;
    --bord-green: 1px solid #007a78;
    --bord-white-black: 1px solid #f3f3f3;
    --bord-left-coupon: 8px solid linear-gradient(180.01deg,#007a78 1.26%,#2da499 98.51%);
    --bord-gradient: 1px solid linear-gradient(180.01deg,#007a78 1.26%,#2da499 98.51%);
      --shadow-cards: 0px 4px 8px rgba(0,0,0,.5);
    --shadow-primary: 0px 1px 8px rgba(0,0,0,.5);
    --shadow-header-footer: 0px 5px 20px #161818;
}