@use '../../assets/scss/mixin.scss' as *;

.home-wrapped {
    @include responsive(md) {
        padding-top: 50px;
    }

    section {
        padding: 80px 0;

        @include responsive(md) {
            padding: 30px 0;
        }
    }

    .center-content {
        position: relative;
        padding: 100px 0;
        max-width: 80%;
        margin: auto;

        @include responsive(md) {
            width: 100%;
            padding: 30px 0;
        }

        .overlay-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.1;
            width: 100%;

            img {
                height: 400px;
                width: auto;
                margin: auto;
                display: flex;
                object-fit: contain;

                @include responsive(md) {
                    width: 100%;
                }
            }
        }

        .title {
            text-align: center;
            font-size: 30px;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .gradient-text {
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            background: linear-gradient(90deg, #89ff2e 0%, #d5ff2e 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: 700;
            margin-bottom: 30px;

            @include responsive(md) {
                font-size: 30px;
            }

            @include responsive(xs) {
                font-size: 20px;
            }
        }

        p {
            text-align: center;
            font-size: 22px;
            line-height: 30px;

            @include responsive(xs) {
                font-size: 16px;
            }

        }

    }

    .whatis-trade {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 100px 0;

        @include responsive(md) {
            gap: 20px;
            padding: 30px 0;
        }

        @include responsive(xl) {
            flex-direction: column;
        }

        .left-content {
            flex: 1;
            text-align: center;

            .glob {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                animation: spin3D 10s linear infinite;
                transform-style: preserve-3d;
                filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.4));
            }

            .bottom-title {
                display: flex;
                align-items: center;
                font-size: 45px;
                justify-content: center;
                gap: 15px;

                @include responsive(md) {
                    font-size: 22px;
                    gap: 5px;
                }

                img {
                    margin: 0;

                    @include responsive(md) {
                        max-width: 200px;
                    }
                }
            }

            img {
                max-width: 400px;
                height: auto;
                margin-bottom: 20px;

                @include responsive(md) {
                    max-width: 300px;
                }
            }

            h2 {
                font-size: 28px;
                font-weight: 600;
            }
        }

        .right-content {
            flex: 1;
            text-align: center;

            h2 {
                font-size: 40px;
                font-weight: 700;
                text-align: center;
                background: linear-gradient(90deg, #89ff2e 0%, #d5ff2e 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: 700;
                margin-bottom: 30px;

                @include responsive(md) {
                    font-size: 24px;
                }
            }

            p {
                font-size: 20px;
                line-height: 28px;
                color: #fff;

                @include responsive(md) {
                    font-size: 16px;
                }
            }
        }
    }

    .watch {
        padding: 100px 0;
        display: flex;
        gap: 20px;

        @include responsive(md) {
            flex-direction: column;
        }

        .slider-arrows {
            display: flex;
            gap: 5px;

            .nav-arrow {
                margin-left: 10px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid #fff;
                color: #fff;
                cursor: pointer;
            }
        }

        .left-content {
            width: 50%;

            @include responsive(md) {
                width: 100%;
            }

            .title {
                font-size: 30px;
                font-weight: 700;
                color: #fff;
            }

            .gradient-text {
                font-size: 50px;
                font-weight: 700;
                text-align: left;
                background: linear-gradient(90deg, #89ff2e 0%, #d5ff2e 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: 700;
                margin-bottom: 30px;

                @include responsive(md) {
                    font-size: 40px;
                }

                @include responsive(xl) {
                    font-size: 25px;
                }
            }

            p {
                font-size: 22px;
                max-width: 80%;
                line-height: 35px;
                @include responsive(xl) {
                    font-size: 18px;
                }
            }

            .gradient-btn {
                border-radius: 50px;
                padding: 18px;
                min-width: 230px;
                margin: 30px 0;
                font-size: 20px;
                display: flex;
                align-items: center;
                align-content: center;
                gap: 15px;
                @include responsive(xl) {
                    font-size: 18px;
                }
            }
        }

        .right-content {
            width: 50%;
            text-align: left;

            @include responsive(md) {
                width: 100%;
            }

            .courses-slide {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .slider-container {
                .course-card {
                    max-width: 390px;
                    margin: auto;
                }
            }


        }
    }
}