.home-wrapped {
    .center-content {
        position: relative;
        padding: 100px 0;
        max-width: 80%;
        margin: auto;
        .overlay-img{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.1;
            width: 100%;
            img{
                height: 400px;
                width: auto;
                margin: auto;
                display: flex;
            }
        }
        .title{
            text-align: center;
            font-size: 30px;
            margin-bottom: 10px;
            font-weight: 600;
        }
        .gradient-text {
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            background: linear-gradient(90deg, #89ff2e 0%, #d5ff2e 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: 700;
            margin-bottom: 30px;
        }

        p {
            text-align: center;
            font-size: 22px;
            line-height: 30px;
        }
    }
}