@use "./../../../assets/scss/mixin.scss" as *;

.header-wrapper {
    background: var(--bg-header-footer);
    box-shadow: 0 11px 11.9px -1px rgba(0, 0, 0, 0.07);
    transition: all 0.6s ease-in-out;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: var(--bg-header-footer);
    box-shadow: var(--shadow-header-footer);
    border-radius: 20px;
    padding: 10px;
    width: 90%;
    margin: auto;
    position: sticky;
    top: 10px;
    z-index: 1000;
    @keyframes slideDown {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: 50px;

        .brand {
            display: flex;
            align-items: center;

            img {
                width: 200px;
                height: auto;
            }
        }

        ul {
            margin: 0px;
            padding: 0px;
            display: flex;
            align-items: center;
            gap: 25px;

            @include responsive(lg) {
                gap: 10px;
            }

            @include responsive(md) {
                display: none;
            }

            li {
                list-style-type: none;

                a {
                    color: var(--fc-primary);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-decoration: none;
                    transition: all 0.35s ease;

                    @include responsive(xl) {
                        font-size: 14px;
                    }

                    @include responsive(lg) {
                        font-size: 14px;
                    }

                    &:hover {
                        color: var(--primary);
                    }
                }

                .search-header {
                    .ant-input-outlined {
                        border: 0px;
                        box-shadow: unset;

                        .ant-input-prefix {
                            margin-inline-end: 10px;
                        }

                        .ant-input {
                            &::placeholder {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }
        }


        .right-drawer {
            .gradient-btn{
                padding: 10px;
                border-radius: 30px;
                min-width: 100px;
            }
        }
    }
}


