.course-listing-page {
    padding: 70px 0;
    .search-bar {
        margin-bottom: 3rem;

        &__wrapper {
            position: relative;
            display: flex;
            align-items: center;
            max-width: 500px;
            width: 100%;
            border-radius: 50px;
            overflow: hidden;
            margin: auto;
        }

        &__icon {
            position: absolute;
            left: 1rem;
            z-index: 1;
        }

        &__input {
            flex: 1;
            padding: 0.875rem 1rem 0.875rem 2.75rem;
            background: #000;
            border: none;
            outline: none;
            font-size: 1rem;
            border-radius: 50px 0 0 50px;
            color: #fff;
            width: 80%;
        }

        &__btn {
            padding: .9rem 1.5rem;
            border: none;
            font-weight: 600;
            font-size: 0.875rem;
            cursor: pointer;

            &:hover {
                background: #d5ff2e;
                transform: scale(1.02);
            }
        }
    }

}